@import "variables.scss";
@media only screen and (max-width: 768px) {
    .header {
        background-position: center;
        background: url("./image/rectangle.png") no-repeat;
        height: 425px;
    }
    .hidden-of-down {
        display: none;
    }
    .hidden-of-up {
        display: block;
    }
    .header-right {
        padding-top: 1%;
        padding-right: 4%;
        a {
            font-weight: bold;
        }
    }
    .logo {
        img {
            width: 144px;
            height: 43px;
            margin-top: 7%;
        }
    }
    .header-menu {
        margin-top: 2%;
        .icon-and-text {
            .list-icon-header {
                font-size: 24px;
            }
        }
    }
    .header-menu {
        .text {
            font-size: 24px;
        }
    }
    .text-header {
        font-size: 13px;
        margin-top: -2%;
    }
    .start-now-header a {
        letter-spacing: 1.17px;
        font-size: 14px;
        padding: 13px 27px 13px 28px;
    }
    .content-one,
    .content-two {
        .btn {
            padding: 13px 27px 13px 28px;
        }
    }
    .members,
    .customers {
        .content-three {
            .btn {
                padding: 13px 27px 13px 28px;
            }
        }
    }
    .content-one,
    .content-two,
    .content-three {
        .text-one {
            font-size: 36px;
            letter-spacing: -0.07px;
        }
    }
    .daily-report,
    .members img {
        width: 100%;
    }
    .content-one,
    .content-two,
    .content-three {
        .text-one {
            .ti-bookmark-alt,
            .ti-write {
                font-size: 30px;
            }
        }
    }
    .col-sm-6 {
        .content-one,
        .content-two {
            .text-three {
                line-height: 21px;
                width: 100%;
            }
        }
    }
    .members img {
        margin-top: 5%;
    }
    .content-one {
        .text-three {
            margin-left: 2%;
        }
    }
    .content-two,
    .customers {
        .text-three {
            margin-left: 0;
            margin-bottom: 0;
        }
    }
    .content-three {
        .text-three {
            margin-top: 30px;
        }
    }
    .customers {
        .text-three {
            .text-customers {
                line-height: 18px;
                font-size: 11px;
            }
        }
    }
    .ti-icon-footer {
        margin-left: -20%;
    }
    .content-three {
        .text-three {
            .text-members {
                height: 61px;
                line-height: 21px;
            }
        }
    }
    .our-customer {
        h1 {
            padding: 5.6% 0 5%;
            letter-spacing: -0.05px;
            @include font(24px,
            lighter);
        }
    }
    .carousel-cus {
        padding-bottom: 7.2%;
    }
    .carousel-manage {
        padding-bottom: 5%;
    }
    .carousel-indicators {
        margin-bottom: 0;
    }
    .quote p {
        padding: 0;
        margin-block-end: unset;
        line-height: 30px;
        font-size: 17px;
        font-weight: lighter;
        letter-spacing: -0.03pt;
    }
    .quote i {
        font-size: 48px;
    }
    .ti-quote-right {
        padding-top: 20%;
    }
    .quote {
        width: 100%;
    }
}

@media only screen and (min-width:375px) and (max-width:480px) {
    .header {
        background-position: center;
        background: url("./image/rectangle-two.png") no-repeat;
        height: 266px;
    }
    .hidden-xs {
        display: block;
    }
    .hidden-pc {
        display: none;
    }
    .logo {
        img {
            width: 94px;
            height: 23px;
            margin-top: 3%;
        }
    }
    .header-menu {
        margin: 5% 4.3% 0;
        padding: 0 5.3%;
        .icon-and-text {
            .list-icon-header {
                font-size: 18px;
            }
        }
    }
    .daily-report,
    .members,
    .today-i-learn,
    .customers {
        padding: 4.4% 0;
    }
    .header-menu {
        .text {
            font-size: 18px;
        }
    }
    .customers {
        .content-three {
            .text-three {
                margin-left: 0;
            }
        }
    }
    .members {
        .content-three {
            .text-three {
                margin-top: 0;
            }
        }
    }
    .text-header {
        font-size: 9px;
        margin-top: -3%;
    }
    .start-now-header a {
        margin-top: 2%;
        padding: 11px 27px 10px 28px;
    }
    .content-one {
        .text-three {
            margin: 2.9% 0 2.9% 0;
        }
    }
    .daily-report img {
        margin-top: 2.9%;
    }
    .members img {
        margin-top: 2.9%;
    }
    .customers img {
        margin-top: 0;
    }
    .content-one,
    .content-two,
    .content-three {
        .text-two,
        .text-three {
            font-size: 13px;
        }
    }
    .today-i-learn img {
        width: 100%;
    }
    .daily-report img {
        width: 100%;
    }
    .members img {
        width: 100%;
    }
    .customers img {
        width: 100%;
    }
    footer {
        padding: 3.5% 0 4%;
    }
    .col-footer {
        ul {
            padding-inline-start: unset;
        }
        img {
            width: 20%;
            padding-bottom: 15px;
        }
        i {
            padding-top: 10px;
        }
        p {
            color: white;
            font-size: 10px;
            padding-top: 10px;
        }
    }
    .quote p {
        line-height: 25px;
        font-size: 14px;
        margin-left: 0;
        margin-top: 0;
        text-align: justify;
    }
    .ti-quote-right {
        padding-top: 0;
    }
    .carousel-indicators {
        margin-bottom: -1%;
    }
    .members {
        .text-three {
            margin-bottom: 15px;
        }
    }
    .ti-quote-right {
        margin-right: 0;
    }
    .ti-quote-left {
        margin-left: 0;
    }
}